<?xml version='1.0' encoding='utf-8'?>
<rec>
</rec>
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration/>-->
    <!--<session-factory>-->
        <!--&lt;!&ndash;<property name="hibernate.connection.driver_class">net.sf.log4jdbc.DriverSpy</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="connection.url">jdbc:log4jdbc:postgresql://localhost:5432/hibernate</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="connection.username">postgres</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.connection.password">5432</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name = "hibernate.jdbc.batch_size">40</property>&ndash;&gt;-->

        <!--&lt;!&ndash;<property name="show_sql">false</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="format_sql">true</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="use_sql_comments">true</property>&ndash;&gt;-->

        <!--&lt;!&ndash;<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.jdbc.lob.non_contextual_creation">true</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.c3p0.min_size">5</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.c3p0.max_size">20</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.c3p0.timeout">300</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.c3p0.max_statements">50</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.c3p0.idle_test_period">3000</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="current_session_context_class">thread</property>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; DB schema will be updated if needed &ndash;&gt;&ndash;&gt;-->
         <!--&lt;!&ndash;<property name="hbm2ddl.auto">update</property>&ndash;&gt;-->

        <!--&lt;!&ndash;<mapping class="ru.job4j.model.usersmodels.User"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="ru.job4j.model.Advert"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="ru.job4j.model.car.Car"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="ru.job4j.model.car.parts.Engine"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="ru.job4j.model.car.Brand"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="ru.job4j.model.car.Model"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapping class="ru.job4j.model.car.Image"/>&ndash;&gt;-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->
