<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


<!-- bean definitions here -->
    <context:component-scan base-package="ru.job4j.storage"/>
    <!--<bean id="user" class="ru.job4j.models.User"/>-->
    <!--<bean id="jdbc" class="ru.job4j.storage.JdbcStorage"/>-->
    <!--<bean id="memory" class="ru.job4j.storage.MemoryStorage"/>-->
    <!--<bean id="userStorage" class="ru.job4j.storage.UserStorage"/>-->

</beans>